{{#extends "base"}}
{{#block "title"}}
Orders | Tea Empire
{{/block}}
{{#block "content"}}
<div class="mt-2 mb-4 nav-route">
    <a href="/">HOME</a>
    /
    <a href="/orders">ORDERS</a>
</div>
<div class="row">
    <div class="col-2">
        <div class="spacer"></div>
        <i class="fas fa-search" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false"
            aria-controls="collapseForm">
            Filter
        </i>
        <form method="GET" id="collapseForm" class="collapse">
            {{{form}}}
            <input type="submit" class="btn btn-secondary btn-sm" value="Search" />
        </form>
    </div>
    <div class="col-10">
        <h4> Orders </h4>
        <p>{{orders.length}} items</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>User ID</th>
                    <th>Recipient Name</th>
                    <th>Order date</th>
                    <th>Total Cost</th>
                    <th>Completed date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.user_id}}</td>
                    <td>{{this.recipient_name}}</td>
                    <td>{{this.date_of_order}}</td>
                    <td>{{this.total_cost}}</td>
                    <td>{{this.date_of_completion}}</td>
                    <td>{{this.status.name}}</td>
                    <td><a href="/orders/{{this.id}}" class="">More --></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/block}}
{{/extends}}