{{#extends "base"}}
{{#block "title"}}
Products | Tea Gee See
{{/block}}
{{#block "content"}}
<div class="mt-2 mb-4 nav-route">
    HOME / PRODUCTS
</div>
<div style="display:flex" class="mb-2">
    <h3>Products</h3>
    <a href="/products/create" class="btn btn-success ml-auto">Create</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Origin</th>
            <th>Type</th>
            <th>Package</th>
            <th>Name</th>
            <th>Ingredient</th>
            <th>Flavour</th>
            <th>Stock</th>
            <th>Cost</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.brand.name}}</td>
            <td>{{this.origin.name}}</td>
            <td>{{this.type.name}}</td>
            <td>{{this.package.name}}</td>
            <td>{{this.name}}</td>
            <td>{{this.ingredient}}</td>
            <td>
                {{#each this.flavour}}
                <span class="badge badge-pill badge-secondary">{{this.name}}</span>
                {{/each}}
            </td>
            <td>{{this.stock}}</td>
            <td>{{this.cost}}</td>
            <td>
                <a href="/products/{{this.id}}/update" class="">More -> </a>
                {{!-- <a href="/products/{{this.id}}/update" class="btn-sm btn-success">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn-sm btn-danger">Delete</a> --}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}