{{#extends "base"}}
{{#block "title"}}
Update | Tea Empire
{{/block}}

{{#block "content"}}
<div class="mt-2 mb-4 nav-route">
    <a href="/">HOME</a>
    /
    <a href="/products">PRODUCTS</a>
    / {{product.name}} / UPDATE
</div>
<div style="display:flex" class="mb-2">
    <h3>Update Product: {{product.name}} </h3>
    <a href="/products/{{product.id}}/delete" class="cta ml-auto">Delete</a>
</div>
<div class="row">
    <div class="col-6">
        <div class="tea-img" style="background-image: url({{product.image}})"></div>
    </div>
    <form method="POST" class="col-6">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <div class="row">
            {{{form}}}
        </div>
        <input type="hidden" role="uploadcare-uploader" id="uploadcare" />
        <div class="mt-3">
            <input type="submit" class="cta" value="Update" id="update">
            <a href="/products" class="cta">Cancel</a>
        </div>
    </form>
</div>
{{/block}}
{{#block "css"}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{{/block}}

{{#block "js"}}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready()
    $(document).ready(function () {
        $('#id_flavour').select2();
    });

    UPLOADCARE_PUBLIC_KEY = "cadcf6b0435e8a196cc1"

    document.querySelector("#update").addEventListener("click", () => {
        if (document.querySelector("#uploadcare").value) {
            document.querySelector("#id_image").value = document.querySelector("#uploadcare").value
        }
    })
</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8">
</script>
{{/block}}
{{/extends}}